body {
    background-color: #f6e383;
    text-align: center;
    font-family: Arial, sans-serif;
}

.wallpaper {
    width: 435px;
    height: 250px;
    border-radius: 16px;
}

h1 {
    margin: 10px;
}

